:root {
    --background: #222b31;
    --red-color: #ff424f;
    --red-color-ligh: #eb515b;
    --yellor-color: #ffb10a;
    --black-color: #191c1f;
    --white-color: #fff;
    --gray-color: #929ca3;
}
