:root {
    --background: #222b31;
    --red-color: #ff424f;
    --red-color-ligh: #eb515b;
    --yellow-color: #ffb10a;
    --black-color: #191c1f;
    --white-color: #fff;
    --gray-color: #929ca3;

    --border-radius: 10px;
    --font-weight: 700;
    --font-big-size: 18px;
    --font-small-size: 12px;
    --min-height: 65px;
}
