.header {
    background-color: var(--red-color);
    &__panel {
        min-height: var(--min-height);
        @media(min-width: 768px){
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__navigation {
        display: flex;
        align-items: center;
    }
    &__logo {
        flex: 0 0 50px;
    }
    &__result {
        margin-bottom: 10px;
        color: var(--white-color);
        @media(min-width: 768px){
            margin-bottom: 0;
        }
    }
    &__search {
        min-width: 200px;
        width: 100%;
        padding: 0 20px;
        @media(min-width: 768px){
            min-width: 300px;
        }
    }
}
