.item {
    display: flex;
    background-color: var(--background);
    border-radius: var(--border-radius);
    padding: 20px;
    cursor: pointer;
    position: relative;

    &__img-wrapper {
        width: 50px;
        margin-right: 20px;
    }

    &__img {
        height: auto;
    }

    &__title {
        font-size: 18px;
        font-weight: var(--font-weight);
    }

    &__year {
        font-size: 12px;
        color: var(--gray-color)
    }
}
