.item {
    display: flex;
    background-color: var(--background);
    border-radius: var(--border-radius);
    padding: 20px;
    cursor: pointer;
    position: relative;
    &__header {
        flex: 1;
    }

    &__img-wrapper {
        width: 50px;
        margin-right: 20px;
    }

    &__img {
        height: auto;
    }
    &__text {
        font-size: 14px;
        @media(min-width: 768px){
            font-size: 16px;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: var(--font-weight);
        @media(min-width: 768px){
            font-size: 18px;
        }
    }

    &__year {
        font-size: 12px;
        color: var(--gray-color)
    }
    &__options {
        margin-top: 10px;
        p {
            font-weight: var(--font-weight);
        }
        @media(min-width: 768px){
            display: flex;
        }
        @media(min-width: 1024px){
            justify-content: space-between;
        }
    }
    &__option {
        display: flex;
        align-items: center;
        @media(max-width: 767px){
             + .item__option {
                 margin-top: 10px;
             }
        }
        @media(min-width: 768px){
            + .item__option {
                margin-left: 15px;
            }
        }
        @media(min-width: 1024px){
            + .item__option {
                margin-left: 0;
            }
        }

    }
    &__icon {
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
}
