.button.button--back {
    border-radius: 50%;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
